<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase" style="color: bisque;">Blog App</h5>
          <p>Simple Blog App exercise with angular to learn with purpose</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">     
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item"> 
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">         
            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer" class="fa fa-twitter"></a>
        </li>
        <li class="list-inline-item"> 
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">         
            <a href="https://youtube.com" target="_blank" rel="noopener noreferrer" class="fa fa-youtube"></a>
        </li>
        <li class="list-inline-item"> 
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">         
            <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" class="fa fa-facebook"></a>
        </li>
        <li class="list-inline-item"> 
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">         
            <a href="https://github.com" target="_blank" rel="noopener noreferrer" class="fa fa-github"></a>
        </li>
        <li class="list-inline-item"> 
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">         
            <a href="https://linkedIn.com" target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
        </li>
      </ul>
  </footer>
  <!-- Footer -->